body{
    padding: 50px;
    background-color: paleturquoise;
    font-family: sans-serif;
    margin: 0 auto;
    width: 50%
}

#container{
    display: flex;
    justify-content: flex;
    margin: 0 auto;
    width: 50%
}